.navbar-default {
  background-color: azure;
}
footer {
  background-color: #34495E;
}
.facebook {
  /* You may have to set 'display: block' */
  width: 24px;
  height: 24px;
  background: url('social.png') 0 -24px;
}
.twitter {
  /* You may have to set 'display: block' */
  width: 24px;
  height: 24px;
  background: url('social.png') 0 0;
}
.button-container {
  color: #999999;
  border-color: #808080;
}